<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>cosmin</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>

    <require_modules>
        <require_module version="${appframeworkVersion}">org.openmrs.module.appframework</require_module>
        <require_module version="${appuiVersion}">org.openmrs.module.appui</require_module>
        <require_module version="${uicommonsVersion}">org.openmrs.module.uicommons</require_module>
        <require_module version="${uiframeworkVersion}">org.openmrs.module.uiframework</require_module>
		<require_module version="${emrapiVersion}">org.openmrs.module.emrapi</require_module>
        <require_module version="${webservicesRestVersion}">org.openmrs.module.webservices.rest</require_module>
    </require_modules>

	<activator>${project.parent.groupId}.${project.parent.artifactId}.EDTriageAppActivator</activator>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>

    <privilege>
        <name>App: edtriage.app.triage</name>
        <description>Able to triage a patient</description>
    </privilege>

</module>

